<div <%- typeof folderAttrs !== 'undefined' && folderAttrs ? folderAttrs : '' %> class="folder_content-component testimonial">
    <div class="folder_tab-wrapper is-testimonial">
        <div class="folder_tab-bevel_wrapper">
            <div class="folder_tab-svg is-clay w-embed"><svg width="96" height="48" viewBox="0 0 96 48" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M47.5686 23.9847C23.7995 0 23.7843 0 0 0V48H84.8969H95.137C71.3681 48 71.3378 47.9694 47.6147 24.0312L47.5686 23.9847Z" fill="currentColor"></path>
</svg></div>
        </div>
        <div class="folder_tab-content is-testimonial"></div>
    </div>
    <div class="folder_content-wrapper clay">
        <div class="container-four-col">
            <div class="icon-quote w-embed"><svg width="100%" height="100%" viewBox="0 0 255 244" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M0 244V141.434L79.9576 0H103.729L47.5424 147.911L104.809 140.354V244H0ZM149.11 244V141.434L230.148 0H253.919L197.733 147.911L255 140.354V244H149.11Z" fill="currentColor"></path>
</svg></div>
        </div>
        <div class="container-half is-testimonial-folder">
            <div class="detail-tab-wrapper">
                <div class="icon-tag w-embed"><svg width="100%" height="100%" viewBox="0 0 10 11" fill="none" xmlns="http://www.w3.org/2000/svg">
<circle cx="5" cy="5.5" r="5" fill="currentColor"></circle>
</svg></div>
                <div class="detail text-color-white"><%= detailLabel %></div>
            </div>
            <div class="body-large text-indent"><%= quoteText %></div>
        </div>
        <div class="testimonial_contact-wrapper">
            <div class="quote-name-wrapper">
                <div class="heading-style-h5"><%= personName %><br /></div>
                <div class="heading-style-h5 text-middle-cream"><%= personRole %><br /></div>
            </div>
        </div>
    </div>
</div>
